<%= form_for @user, html: {class: 'w-50'} do |f| %>

  <div class="form-group">
    <%= f.label :username, 'Your username:' %>
    <%= f.text_field :username, placeholder: 'Username', class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.label :email, 'Your email:' %>
    <%= f.email_field :email, placeholder: 'yourname@example.com', class: "form-control" %>
  </div>  
  
  <% if logged_in? %>
    <div class="form-group">
      <%= f.label :password, 'Your old password:' %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Your new password:' %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm your new password:' %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

  <% else %>
    <div class="form-group">
      <%= f.label :password, 'Your password:' %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm your password:' %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
