<h1 class="py-5">Users List:</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <% if user.avatar.attached? %>
            <%= image_tag(user.avatar) %>
          <% else %>
            <%= image_tag('default.png', size: "40x40") %>
          <% end %>
          <h5 class="card-title"><%= user.username %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
          <%= link_to 'Show', user %>
          <% if logged_in? && current_user.id == user.id %> | 
            <%= link_to 'Edit', edit_user_path(user) %> | 
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
