<h1 class="py-5">Users List:</h1>
<div><%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center') %></div>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <% if user.avatar.attached? %>
            <%= image_tag(user.avatar, size: "30x30") %>
          <% else %>
            <%= image_tag('default.png', size: "30x30") %>
          <% end %>
          <h5 class="card-title"><%= user.username %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
          <%= link_to 'Show', user %>
          <% if logged_in? && current_user.id == user.id %> | 
            <%= link_to 'Edit', edit_user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div><%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center') %></div>