<div class="p-5">
  <div class="card">
    <div class="card-body">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar) %>
      <% else %>
        <%= image_tag('default.png', size: "60x60") %>
      <% end %>
      <h5 class="card-title"><%= @user.username %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @user.email %></h6>
      <p class="card-text">Name: <%= @user.user_detail.name %></p>
      <p class="card-text">Nationality: <%= @user.user_detail.nationality %></p>
      <p class="card-text">Birthdate: <%= @user.user_detail.birthdate %></p>
      <p class="card-text">Gender: <%= @user.user_detail.gender %></p>
      <p class="card-text">Employed: <%= @user.user_detail.employee %></p>
      <% if logged_in? && current_user.id == @user.id %> 
      <%= link_to 'Edit your account', edit_user_path(@user) %> |       
      <%= link_to 'Edit your personal info', edit_user_detail_path(@user.user_detail) %> |       
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>