<%= form_for @user_detail, html: { class: "w-50" } do |f| %>

  <div class="form-group">
    <%= f.label :name, 'Your Name:' %>
    <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nationality, 'Your nationality:' %>
    <%= f.text_field :nationality, placeholder: 'Nationality', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birthdate, 'Your birthdate:' %>
    <%= f.text_field :birthdate, placeholder: "yyyy-mm-dd", value: @user_detail.birthdate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender, 'Your Gender:' %>
    <%= f.radio_button(:gender, "male") %>
    <%= f.label :gender_male, "Male" %>
    <%= f.radio_button(:gender, "female") %>
    <%= f.label :gender_female, "Female" %>
  </div>

  <div class="form-group">
    <%= f.label :employee, 'Your Employment status:' %>
    <%= f.radio_button(:employee, "true") %>
    <%= f.label :employed, "Employed" %>
    <%= f.radio_button(:employee, "false") %>
    <%= f.label :not_employed, "Not employed" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>

<% end %>
